// ### Primary

$Light-red-CTA-text: hsl(356, 100%, 66%);
$Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
$Very-dark-blue-headings: hsl(208, 49%, 24%);

// ### Neutral

$White-text: hsl(0, 0%, 100%);
$Grayish-blue-footer-text: hsl(240, 2%, 79%);
$Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
$Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

// ### Gradient

$Intro-CTA-mobile-nav: linear-gradient(
  to right,
  hsl(13, 100%, 72%),
  hsl(353, 100%, 62%)
);
$gradient-body: linear-gradient(
  to right,
  hsl(237, 17%, 21%),
  hsl(237, 23%, 32%)
);

$font-family-Over: "Overpass", sans-serif;
$font-family-Ubun: "Ubuntu", sans-serif;

.hero {
  width: 100%;
  height: 90vh;
  margin-top: -120px;
  border-bottom-left-radius: 120px;
  background: url("../images/bg-pattern-intro-mobile.svg"),
    $Intro-CTA-mobile-nav;
  background-position: 40% center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 300%;
  padding: 2rem 2.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .hero__title {
    font-size: 2.1rem;
    font-family: $font-family-Over;
    color: $White-text;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 1rem 0;
    text-align: center;
  }
  .hero__text {
    font-size: 1rem;
    font-family: $font-family-Over;
    color: $White-text;
    font-weight: 200;
    margin-bottom: 3rem;
    opacity: 0.8;
    text-align: center;
  }
  .hero__box__buttons {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media (min-width: 760px) {
  .hero {
    border-bottom-left-radius: 200px;
    background: url("../images/bg-pattern-intro-desktop.svg"),
      $Intro-CTA-mobile-nav;
    background-position: 40% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300%;

    .hero__title {
      font-size: 3.1rem;
      font-family: $font-family-Over;
      color: $White-text;
      font-weight: 600;
      letter-spacing: -1px;
      margin: 1rem 0;
      text-align: center;
    }
    .hero__text {
      font-size: 1.3rem;
      font-family: $font-family-Over;
      color: $White-text;
      font-weight: 200;
      margin-bottom: 3rem;
      opacity: 0.8;
      text-align: center;
    }
    .hero__box__buttons {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
@media (min-width: 1200px) {
  .hero {
    border-bottom-left-radius: 200px;
    background: url("../images/bg-pattern-intro-desktop.svg"),
      $Intro-CTA-mobile-nav;
    background-position: 20% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 165%;

    .hero__title {
      font-size: 4rem;
      letter-spacing: -2px;
    }
    .hero__text {
      font-size: 1.4rem;
    }
  }
}
