/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

section,
body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
ol,
figure,
footer {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 12px;
  height: 14px;
}

::-webkit-scrollbar-thumb {
  background: #e06855;
  border: 3.5px solid #25252d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cf8948;
}

::-webkit-scrollbar-track {
  background: #25252d;
  border-radius: 0px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
}

.attribution a {
  color: #3e52a3;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.button {
  padding: 1.4rem 1rem;
  border: 0;
  margin: 0.2rem;
  background: transparent;
  border-radius: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  line-height: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 0;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0px;
  font-weight: 700;
}

.button.button--login {
  font-family: "Overpass", sans-serif;
  font-size: 1.2rem;
}

.button.primary {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #ff8f70), color-stop(60%, #ff3d54));
  background-image: linear-gradient(to right, #ff8f70 20%, #ff3d54 60%);
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.button.primary:hover {
  color: #ffffff;
}

.button.primary.button--button_hero {
  max-width: 100%;
  font-size: 1rem;
  padding: 1.3rem 0.5rem;
  background: #ffffff;
  color: #ff525d;
}

.button.secondary {
  max-width: 100%;
  font-size: 1rem;
  padding: 1.3rem 0.5rem;
  font-weight: 700;
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-left: 0.5rem;
}

.button.secondary:hover {
  background: #ffffff;
  color: #ff525d;
}

.section__title {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: #1f3f5b;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  z-index: 9;
}

.section__semi__title {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: #1f3f5b;
  font-weight: 700;
  margin: 1rem 0;
  letter-spacing: 1px;
}

.section__semi__text {
  font-size: 1rem;
  text-align: center;
  font-family: "Overpass", sans-serif;
  color: #1f3f5b;
  font-weight: 500;
  margin: 1.5rem 0 2.5rem 0;
  line-height: 1.7;
}

.hero__title {
  font-size: 2.1rem;
  font-family: "Overpass", sans-serif;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 1rem 0;
  text-align: center;
}

.hero__title.title--light {
  color: #ffffff;
  font-weight: 600;
  padding: 0 2rem;
  letter-spacing: 0px;
}

.text--light {
  color: #c8c8cb;
  padding: 0 2rem;
}

@media (min-width: 760px) {
  .button {
    line-height: 0;
  }
  .button.button--login {
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #ffffff;
    width: 100px;
  }
  .button.primary {
    background: #ffffff;
    color: #ff525d;
    margin-right: 1rem;
  }
  .button.primary:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }
  .button.primary.button--button_hero {
    width: 200px;
    max-width: 100%;
    font-size: 1rem;
    padding: 2rem 0.5rem;
    background: #ffffff;
    color: #ff525d;
  }
  .button.primary.button--button_hero:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #ffffff;
  }
  .button.secondary {
    width: 200px;
    padding: 2rem 0.5rem;
    margin-left: 1rem;
  }
  .button.secondary:hover {
    background: #ffffff;
    color: #ff525d;
  }
  .section__title {
    font-size: 2.5rem;
    text-align: center;
    font-family: "Overpass", sans-serif;
    color: #1f3f5b;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .section__semi__title {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Overpass", sans-serif;
    color: #1f3f5b;
    font-weight: 600;
    letter-spacing: -1px;
  }
}

@media (min-width: 1200px) {
  .button {
    width: 130px;
  }
  .button.primary {
    background: #ffffff;
    color: #ff525d;
    margin-right: 1rem;
  }
  .button.primary.button--button_hero {
    width: 160px;
    max-width: 100%;
    font-size: 1.3rem;
    padding: 1.8rem 0.5rem;
    background: #ffffff;
    color: #ff525d;
  }
  .button.secondary {
    width: 160px;
    padding: 1.8rem 0.5rem;
    margin-left: 1rem;
    font-size: 1.3rem;
  }
  .button.secondary:hover {
    background: #ffffff;
    color: #ff525d;
  }
  .section__title {
    font-size: 3rem;
    text-align: center;
    font-family: "Overpass", sans-serif;
    color: #1f3f5b;
    font-weight: 600;
    letter-spacing: -1px;
  }
  .section__semi__title {
    font-size: 2rem;
    text-align: center;
    font-family: "Overpass", sans-serif;
    color: #1f3f5b;
    font-weight: 600;
    letter-spacing: -1px;
  }
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 90px;
  padding-top: 1rem;
}

.header .header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(40px, 40px);
      grid-template-columns: 1fr minmax(40px, 40px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  gap: 10px;
}

.header .header__container .box__logo {
  max-width: 80px;
}

.menu__btn {
  width: 2.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu__btn .btn__line {
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.menu__btn.open__btn .btn__line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px);
          transform: rotate(-45deg) translate(-5px, 4px);
  height: 2px;
}

.menu__btn.open__btn .btn__line:nth-child(2) {
  width: 200%;
  opacity: 0;
}

.menu__btn.open__btn .btn__line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-10px, -10px);
          transform: rotate(45deg) translate(-10px, -10px);
  height: 2px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__nav .nav__menu {
  position: absolute;
  left: 50%;
  top: 90px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  background: #ffffff;
  justify-self: center;
  -webkit-transform: translateX(-50%) scale(0.5);
          transform: translateX(-50%) scale(0.5);
  opacity: 0;
  -webkit-box-shadow: 0 8px 15px -10px #4b5862;
          box-shadow: 0 8px 15px -10px #4b5862;
  border-radius: 0.3rem;
  padding: 2rem;
  pointer-events: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 999;
}

.header__nav .nav__menu .nav__box__links {
  width: 100%;
}

.header__nav .nav__menu .nav__box__links li {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__nav .nav__menu .nav__box__links li .nav__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #25252d;
}

.header__nav .nav__menu .nav__box__links li .nav__item::after {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("../images/icon-arrow-dark.svg");
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav .nav__menu .nav__box__links li .nav__item.sub__menu__show {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: underline;
}

.header__nav .nav__menu .nav__box__links li .nav__item.sub__menu__show::after {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__nav .nav__menu .nav__box__links li .nav__item.sub__menu__show ~ .menu__link__nav {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: auto;
  opacity: 1;
  padding: 1rem 0;
}

.header__nav .nav__menu.menu__open {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  opacity: 1;
  pointer-events: fill;
}

.header__nav .nav__menu .box__login__signup {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 2px solid #c8c8cb;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .nav__menu .menu__link__nav {
  width: 100%;
  height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  background: #f0f0f0;
  border-radius: 0.3rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__nav .nav__menu .menu__link__nav .link-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  width: 100%;
  text-decoration: none;
  padding: 1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #25252d;
}

@media (min-width: 760px) {
  .menu__btn {
    display: none;
  }
  .header {
    width: 100%;
    height: 120px;
  }
  .header .header__container {
    -ms-grid-columns: minmax(100px, 110px) 1fr;
        grid-template-columns: minmax(100px, 110px) 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header__container .box__logo {
    max-width: 110px;
  }
  .header .header__container .nav__menu {
    opacity: 1;
    position: initial;
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 15% auto;
        grid-template-columns: 15% auto;
    padding: 0;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    pointer-events: all;
  }
  .header .header__container .nav__menu .nav__box__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header .header__container .nav__menu .nav__box__links li {
    position: relative;
  }
  .header .header__container .nav__menu .nav__box__links li .nav__item.sub__menu__show ~ .menu__link__nav {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 160px;
    opacity: 1;
    padding: 1rem 0.5rem;
  }
  .header .header__container .nav__menu .nav__box__links .nav__item {
    color: #ffffff;
    font-weight: 600;
    min-width: 120px;
    max-width: 120px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 0;
    font-size: 1rem;
    opacity: 0.8;
  }
  .header .header__container .nav__menu .nav__box__links .nav__item::after {
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("../images/icon-arrow-light.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0.5rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header .header__container .nav__menu .nav__box__links .menu__link__nav {
    position: absolute;
    background: #ffffff;
    -webkit-box-shadow: 0 8px 15px -10px #4b5862;
            box-shadow: 0 8px 15px -10px #4b5862;
  }
  .header .header__container .nav__menu .nav__box__links .menu__link__nav .link-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    opacity: 0.7;
    font-weight: 500;
    -webkit-transition: none;
    transition: none;
    padding: 0.7rem 1.5rem;
  }
  .header .header__container .nav__menu .nav__box__links .menu__link__nav .link-item:hover {
    opacity: 1;
    font-weight: 700;
    -webkit-transition: none;
    transition: none;
  }
  .header .header__container .nav__menu .box__login__signup {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 0;
    margin: 0;
    padding: 0;
  }
}

.hero {
  height: calc(100vh - 120px);
  margin-top: -120px;
}

.container__hero {
  width: 100%;
  height: 80vh;
  border-bottom-left-radius: 120px;
  background: url("../images/bg-pattern-intro-mobile.svg"), -webkit-gradient(linear, left top, right top, color-stop(20%, #ff8f70), color-stop(60%, #ff3d54));
  background: url("../images/bg-pattern-intro-mobile.svg"), linear-gradient(to right, #ff8f70 20%, #ff3d54 60%);
  background-position: 40% center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 300%;
  padding: 2rem 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__hero .hero__text {
  font-size: 1rem;
  font-family: "Overpass", sans-serif;
  color: #ffffff;
  font-weight: 200;
  margin-bottom: 3rem;
  opacity: 0.8;
  text-align: center;
}

.container__hero .hero__box__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 760px) {
  .container__hero {
    border-bottom-left-radius: 200px;
    background: url("../images/bg-pattern-intro-desktop.svg"), -webkit-gradient(linear, left top, right top, color-stop(20%, #ff8f70), color-stop(60%, #ff3d54));
    background: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, #ff8f70 20%, #ff3d54 60%);
    background-position: 40% center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 300%;
    height: 85vh;
  }
  .container__hero .hero__title {
    font-size: 3.1rem;
    font-family: "Overpass", sans-serif;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 1rem 0;
    text-align: center;
  }
  .container__hero .hero__text {
    font-size: 1.3rem;
    font-family: "Overpass", sans-serif;
    color: #ffffff;
    font-weight: 200;
    margin-bottom: 3rem;
    opacity: 0.8;
    text-align: center;
  }
  .container__hero .hero__box__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container__hero {
    border-bottom-left-radius: 200px;
    background: url("../images/bg-pattern-intro-desktop.svg"), -webkit-gradient(linear, left top, right top, color-stop(20%, #ff8f70), color-stop(60%, #ff3d54));
    background: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(to right, #ff8f70 20%, #ff3d54 60%);
    background-position: 25% 55%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 190%;
  }
  .container__hero .hero__title {
    font-size: 4rem;
    letter-spacing: -2px;
  }
  .container__hero .hero__text {
    font-size: 1.4rem;
  }
}

.section-02 {
  min-height: 100vh;
  background: #ffffff;
  padding-top: 3rem;
}

.section-02 .section-02__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-02 .section-02__container .section__flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
  justify-self: center;
}

.section-02 .section-02__container .section__flex .section-02__figure {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 50vh;
  padding: 1rem 0 0 0;
  background: url("../images/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: initial;
}

.section-02 .section-02__container .section__flex .section-02__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 1rem 2rem 0rem 2rem;
}

.section-03 {
  background-image: -webkit-gradient(linear, left top, right top, from(#2c2d3f), to(#3f4164));
  background-image: linear-gradient(to right, #2c2d3f, #3f4164);
  border-radius: 0px 120px 0 120px;
}

.section-03 .section-03__container {
  background: url("../images/bg-pattern-circles.svg");
  background-position: center -37vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0px 120px 0 120px;
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 13rem 0 2rem 0;
  padding: 0 0 3rem;
}

.section-04 {
  min-height: 100vh;
  background: #ffffff;
  padding-top: 0rem;
}

.section-04 .section-04__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-04 .section-04__container .section__flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
  justify-self: center;
}

.section-04 .section-04__container .section__flex .section-04__figure {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  height: 50vh;
  padding: 1rem 0 0 0;
  background: url("../images/illustration-laptop-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: initial;
}

.section-04 .section-04__container .section__flex .section-04__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  padding: 1rem 2rem 3rem 2rem;
}

.section-04 .section-04__container .section__flex .section-04__text .section__semi__title {
  letter-spacing: 0;
}

.footer {
  width: 100%;
  background: #25252d;
  padding: 4rem 2rem;
  border-top-right-radius: 120px;
}

.footer .footer__grid {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 3rem;
}

.footer .footer__grid .footer__logo {
  width: 120px;
}

.footer .footer__grid .title__links {
  font-size: 1rem;
  font-family: "Overpass", sans-serif;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer .footer__grid .footer__menu_link {
  display: block;
  font-size: 1rem;
  font-family: "Overpass", sans-serif;
  color: #c8c8cb;
  font-weight: 300;
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer .footer__grid .footer__menu_link:hover {
  text-decoration: underline;
  opacity: 0.85;
}

@media (min-width: 760px) {
  .section-02 {
    margin-top: 100px;
    min-height: 85vh;
    background: #ffffff;
    padding: 4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-02 .section-02__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-02 .section-02__container .section__flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-02 .section-02__container .section__flex .section-02__figure {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
    height: 55vh;
    padding: 1rem 0 0 0;
    background: url("../images/illustration-editor-mobile.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    position: initial;
  }
  .section-02 .section-02__container .section__flex .section-02__text {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 3rem 2rem;
  }
  .section-02 .section-02__container .section__flex .section-02__text .section__semi__text,
  .section-02 .section-02__container .section__flex .section-02__text .section__semi__title {
    text-align: left;
  }
  .section-03 {
    width: 100%;
  }
  .section-03 .section-03__container {
    background: url(../images/bg-pattern-circles.svg);
    background-position: -42% 80%;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 0px 120px 0 120px;
    height: 30vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  .section-03 .section-03__container .section__flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-03 .section-03__container .section__flex .section-03__figure {
    max-width: 45%;
  }
  .section-03 .section-03__container .section__flex .section-03__text {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .section-03 .section-03__container .section__flex .section-03__text .hero__title {
    text-align: left;
    width: 100%;
  }
  .section-03 .section-03__container .section__flex .section-03__text .section__semi__text {
    text-align: left;
  }
  .section-04 {
    margin-top: 0;
    min-height: 80vh;
    background: #ffffff;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-04 .section-04__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-04 .section-04__container .section__flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-04 .section-04__container .section__flex .section-04__figure {
    width: 50%;
    height: 55vh;
    padding: 1rem 0 0 0;
    background: url("../images/illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    position: initial;
  }
  .section-04 .section-04__container .section__flex .section-04__text {
    width: 50%;
    padding: 3rem 2rem;
  }
  .section-04 .section-04__container .section__flex .section-04__text .section__semi__text,
  .section-04 .section-04__container .section__flex .section-04__text .section__semi__title {
    text-align: left;
  }
  .footer .footer__grid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    text-align: center;
    gap: 2rem;
  }
  .footer .footer__grid .title__links {
    padding: 0rem 1rem;
    text-align: left;
  }
  .footer .footer__grid .footer__menu_link {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .section-02 {
    margin-top: 0;
    padding: 5rem 0;
    min-height: 50vh;
    background: #ffffff;
    overflow: hidden;
  }
  .section-02 .section-02__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .section-02 .section-02__container .section__flex {
    width: 100%;
    max-width: 1200px;
    height: 85vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    position: relative;
  }
  .section-02 .section-02__container .section__flex .section-02__figure {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    height: 90vh;
    margin: 0rem 0 0 0;
    background: url("../images/illustration-editor-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: 1;
    overflow-y: hidden;
  }
  .section-02 .section-02__container .section__flex .section-02__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 3rem 2rem 0 2rem;
    width: 100%;
  }
  .section-02 .section-02__container .section__flex .section-02__text .section__semi__title {
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
  }
  .section-02 .section-02__container .section__flex .section-02__text .section__semi__title:nth-of-type(2) {
    margin-top: 6rem;
    max-width: 100%;
  }
  .section-02 .section-02__container .section__flex .section-02__text .section__semi__text {
    max-width: 45%;
    text-align: left;
  }
  .section-02 .section-02__container .section__flex .section-02__text .section__semi__text:nth-of-type(2) {
    max-width: 44%;
  }
  .section-03 {
    width: 100%;
  }
  .section-03 .section-03__container {
    background: url("../images/bg-pattern-circles.svg");
    background-position: -42% 80%;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 0px 120px 0 120px;
    height: 45vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  .section-03 .section-03__container .section__flex {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-03 .section-03__container .section__flex .section-03__figure {
    max-width: 50%;
    -webkit-transform: translateY(17%);
            transform: translateY(17%);
  }
  .section-03 .section-03__container .section__flex .section-03__text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 1vh;
    width: 50%;
  }
  .section-03 .section-03__container .section__flex .section-03__text .hero__title {
    text-align: left;
    width: 100%;
  }
  .section-03 .section-03__container .section__flex .section-03__text .section__semi__text {
    text-align: left;
    width: 90%;
  }
  .section-04 {
    margin-top: 0;
    padding: 5rem 0;
    min-height: 50vh;
    background: #ffffff;
    overflow: hidden;
  }
  .section-04 .section-04__container {
    max-width: 1200px;
    margin: 0 auto 3rem auto;
  }
  .section-04 .section-04__container .section__flex {
    width: 100%;
    max-width: 1200px;
    height: 85vh;
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    position: relative;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-04 .section-04__container .section__flex .section-04__figure {
    width: 100%;
    height: 95vh;
    margin: 0rem 0 0 0;
    background: url("../images/illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: -60%;
    top: 0;
    z-index: 1;
    overflow-y: hidden;
  }
  .section-04 .section-04__container .section__flex .section-04__text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 3rem 2rem 0 2rem;
    width: 100%;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .section-04 .section-04__container .section__flex .section-04__text .section__semi__title {
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
  }
  .section-04 .section-04__container .section__flex .section-04__text .section__semi__title:nth-of-type(2) {
    margin-top: 6rem;
    max-width: 100%;
  }
  .section-04 .section-04__container .section__flex .section-04__text .section__semi__text {
    max-width: 100%;
    text-align: left;
  }
  .section-04 .section-04__container .section__flex .section-04__text .section__semi__text:nth-of-type(2) {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .section-03 {
    width: 100%;
  }
  .section-03 .section-03__container {
    background: url(../images/bg-pattern-circles.svg);
    background-position: -42% 80%;
    background-size: 70%;
    background-repeat: no-repeat;
    border-radius: 0px 120px 0 120px;
    height: 95vh;
  }
}
/*# sourceMappingURL=style.css.map */